a:visited {
    color: white;
}
a:hover{
    color: red;
}

article {
    background-color: rgb(13, 13, 114);
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #380e0e;
    color: white;
}

h1 {
    font-size: 20px;
    border: 1px solid darkgoldenrod;
    padding-left: 5px;
}

h2 {
    font-size: 20px;
    border: 4px dotted rgb(9, 212, 226);
    padding-left: 5px;
}

figure {
    margin-left: 1px;
}

figcaption {
    padding-left: 5px;
}

label {
    padding-left: 5px;
}

#beetroot {
    width: 50%;
}

#carrot {
    opacity: 0.5;
}

#potato {
    width: 400px;
    height: 200px;
}

p {
    font-size: 12px;
    color:green;
    padding-left: 5px;
}

div {
    border: dotted 2px;
    width: 100px;
    height: 100px;   
}

ul {
    list-style-type: square;
}

section {
    background-color: rgb(61, 71, 61);
}

nav {
    border: 1px solid #f501b8;
    margin-bottom: 20px;
    background-color: black;
    width: 30%;
    float: left;
}

#third {
    width: 69%;
    float: right;
}